<p>cart works!</p>
<br/>
<h3>Products in your cart:</h3>
<li *ngFor="let p of products">
  <a href="/productdetails/{{p.id}}">id = {{p.id}}</a>
  <button type="button" (click)="removeFromCart(p.id)">Remove from cart</button>
  <br>
   <!--id = {{p.id}},<br>-->
   nome = {{p.name}}<br>
   prezzo = {{p.price}}<br>
   qt = {{p.quantity}} <br>
   Seleziona quantità da acquistare:
   <input  type="number" min="1" max="1000" [defaultValue]=0 [(ngModel)]="array[products.indexOf(p)]">
</li>
<br>
<button type="button" (click)="buy()">Buy</button>
